* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 10px;
  font-family: "Abel";
  text-align: center;
  width: 580px;
}

.container {
  display: grid;
  grid-template-columns: 180px 180px 180px;
  grid-gap: 10px;
}

.item {
  color: white;
  padding: 1.5em 0;
  font-size: 2em;
}

.a1 {
  background: #0d9;
}

.b2 {
  background: #d90;
}

.c3 {
  background: #9d0;
}

.d4 {
  background: #90d;
}

.e6 {
  background: #d09;
}

.f7 {
  background: #09d;
}

.c3 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
}
